@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #D3C3B9;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
}
  

@font-face {
  font-family: 'Montserrat';
  src: url("../../public/fonts/Montserrat.ttf") format('truetype');
}

@font-face {
  font-family: 'Meditative';
  src: url("../../public/fonts/Meditative.ttf") format('truetype');
}

@font-face {
  font-family: 'Kryshna';
  src: url("../../public/fonts/Kryshna.ttf") format('truetype');
}

@font-face {
  font-family: 'Sallim';
  src: url("../../public/fonts/Sallim.ttf") format('truetype');
}

@font-face {
  font-family: 'Jupiteroid';
  src: url("../../public/fonts/Jupiteroid-Light.ttf") format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Jupiteroid';
  src: url("../../public/fonts/Jupiteroid-Regular.ttf") format('truetype');
  font-weight: 400;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}