@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #A79E9C;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../../public/fonts/Montserrat.ttf") format('truetype');
}

@font-face {
  font-family: 'Meditative';
  src: url("../../public/fonts/Meditative.ttf") format('truetype');
}

@font-face {
  font-family: 'Kryshna';
  src: url("../../public/fonts/Kryshna.ttf") format('truetype');
}

@font-face {
  font-family: 'Sallim';
  src: url("../../public/fonts/Sallim.ttf") format('truetype');
}

@font-face {
  font-family: 'Jupiteroid';
  src: url("../../public/fonts/Jupiteroid-Light.ttf") format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Jupiteroid';
  src: url("../../public/fonts/Jupiteroid-Regular.ttf") format('truetype');
  font-weight: 400;
}